entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "gunicorn main:app --workers 4 --bind 0.0.0.0:81"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 81
externalPort = 80



[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 42753220
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Tests"
author = 42753220
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m unittest discover tests"
